@font-face {
	font-family: "NanumSquareNeo";
	src: url("NanumSquareNeo-aLt.woff2") format("woff2"), url("NanumSquareNeo-aLt.ttf") format("truetype");
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	unicode-range: U+20-7e, U+a2-a5, U+a9, U+ab-ac, U+ae, U+b0-b3, U+b6-b7, U+b9, U+bb-be, U+d7, U+e5, U+f7, U+2c7,
		U+2d0, U+2d8-2dd, U+2012-2016, U+2018-2019, U+201c-201d, U+2020-2023, U+2025-2026, U+2030, U+2032-2033,
		U+203b-203c, U+203e, U+2044, U+2047-2049, U+2070, U+2074-2079, U+207f-2089, U+20a9, U+20ac, U+2103, U+2109,
		U+2113, U+2116, U+2121-2122, U+2126, U+212b, U+2153-2154, U+215b-215e, U+2160-2169, U+2170-2179, U+2190-2199,
		U+21d2, U+21d4, U+2200, U+2202-2203, U+2207-2208, U+220b, U+220f, U+2211-2212, U+221a, U+221d-221e, U+2220,
		U+2225, U+2227-222c, U+222e, U+2234-2236, U+223c-223d, U+2252, U+2260-2261, U+2264-2267, U+226a-226b,
		U+2282-2283, U+2286-2287, U+2299, U+22a5, U+22ef, U+2312, U+2329-232a, U+2460-24f4, U+24ff-2503, U+250c-254b,
		U+2592, U+25a0-25a1, U+25a3-25a9, U+25b2-25b3, U+25b6-25b7, U+25bc-25bd, U+25c0-25c1, U+25c6-25c9, U+25cb,
		U+25ce-25d1, U+25e6, U+2605-2606, U+260e-260f, U+261c, U+261e, U+2640, U+2642, U+2660-2661, U+2663-2665,
		U+2667-266a, U+266c-266d, U+274c, U+2776-277f, U+2e3a-2e3b, U+3001-3003, U+300a-3011, U+3013-301c, U+3131-3163,
		U+3165-318e, U+3200-321e, U+3251-327f, U+32b1-32bf, U+3380-3384, U+3388-33ca, U+33cf-33d0, U+33d3, U+33d6,
		U+33d8, U+33db-33dd, U+ac00-d7a3, U+fb01-fb02, U+fe10-fe19, U+fe30-fe33, U+fe35-fe44, U+fe47-fe48, U+ff01-ff5d,
		U+ffe0-ffe3, U+ffe5-ffe6, U+1f100, U+1f110-1f129;
}
@font-face {
	font-family: "NanumSquareNeo";
	src: url("NanumSquareNeo-bRg.woff2") format("woff2"), url("NanumSquareNeo-bRg.ttf") format("truetype");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	unicode-range: U+20-7e, U+a2-a5, U+a9, U+ab-ac, U+ae, U+b0-b3, U+b6-b7, U+b9, U+bb-be, U+d7, U+e5, U+f7, U+2c7,
		U+2d0, U+2d8-2dd, U+2012-2016, U+2018-2019, U+201c-201d, U+2020-2023, U+2025-2026, U+2030, U+2032-2033,
		U+203b-203c, U+203e, U+2044, U+2047-2049, U+2070, U+2074-2079, U+207f-2089, U+20a9, U+20ac, U+2103, U+2109,
		U+2113, U+2116, U+2121-2122, U+2126, U+212b, U+2153-2154, U+215b-215e, U+2160-2169, U+2170-2179, U+2190-2199,
		U+21d2, U+21d4, U+2200, U+2202-2203, U+2207-2208, U+220b, U+220f, U+2211-2212, U+221a, U+221d-221e, U+2220,
		U+2225, U+2227-222c, U+222e, U+2234-2236, U+223c-223d, U+2252, U+2260-2261, U+2264-2267, U+226a-226b,
		U+2282-2283, U+2286-2287, U+2299, U+22a5, U+22ef, U+2312, U+2329-232a, U+2460-24f4, U+24ff-2503, U+250c-254b,
		U+2592, U+25a0-25a1, U+25a3-25a9, U+25b2-25b3, U+25b6-25b7, U+25bc-25bd, U+25c0-25c1, U+25c6-25c9, U+25cb,
		U+25ce-25d1, U+25e6, U+2605-2606, U+260e-260f, U+261c, U+261e, U+2640, U+2642, U+2660-2661, U+2663-2665,
		U+2667-266a, U+266c-266d, U+274c, U+2776-277f, U+2e3a-2e3b, U+3001-3003, U+300a-3011, U+3013-301c, U+3131-3163,
		U+3165-318e, U+3200-321e, U+3251-327f, U+32b1-32bf, U+3380-3384, U+3388-33ca, U+33cf-33d0, U+33d3, U+33d6,
		U+33d8, U+33db-33dd, U+ac00-d7a3, U+fb01-fb02, U+fe10-fe19, U+fe30-fe33, U+fe35-fe44, U+fe47-fe48, U+ff01-ff5d,
		U+ffe0-ffe3, U+ffe5-ffe6, U+1f100, U+1f110-1f129;
}
@font-face {
	font-family: "NanumSquareNeo";
	src: url("NanumSquareNeo-cBd.woff2") format("woff2"), url("NanumSquareNeo-cBd.ttf") format("truetype");
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	unicode-range: U+20-7e, U+a2-a5, U+a9, U+ab-ac, U+ae, U+b0-b3, U+b6-b7, U+b9, U+bb-be, U+d7, U+e5, U+f7, U+2c7,
		U+2d0, U+2d8-2dd, U+2012-2016, U+2018-2019, U+201c-201d, U+2020-2023, U+2025-2026, U+2030, U+2032-2033,
		U+203b-203c, U+203e, U+2044, U+2047-2049, U+2070, U+2074-2079, U+207f-2089, U+20a9, U+20ac, U+2103, U+2109,
		U+2113, U+2116, U+2121-2122, U+2126, U+212b, U+2153-2154, U+215b-215e, U+2160-2169, U+2170-2179, U+2190-2199,
		U+21d2, U+21d4, U+2200, U+2202-2203, U+2207-2208, U+220b, U+220f, U+2211-2212, U+221a, U+221d-221e, U+2220,
		U+2225, U+2227-222c, U+222e, U+2234-2236, U+223c-223d, U+2252, U+2260-2261, U+2264-2267, U+226a-226b,
		U+2282-2283, U+2286-2287, U+2299, U+22a5, U+22ef, U+2312, U+2329-232a, U+2460-24f4, U+24ff-2503, U+250c-254b,
		U+2592, U+25a0-25a1, U+25a3-25a9, U+25b2-25b3, U+25b6-25b7, U+25bc-25bd, U+25c0-25c1, U+25c6-25c9, U+25cb,
		U+25ce-25d1, U+25e6, U+2605-2606, U+260e-260f, U+261c, U+261e, U+2640, U+2642, U+2660-2661, U+2663-2665,
		U+2667-266a, U+266c-266d, U+274c, U+2776-277f, U+2e3a-2e3b, U+3001-3003, U+300a-3011, U+3013-301c, U+3131-3163,
		U+3165-318e, U+3200-321e, U+3251-327f, U+32b1-32bf, U+3380-3384, U+3388-33ca, U+33cf-33d0, U+33d3, U+33d6,
		U+33d8, U+33db-33dd, U+ac00-d7a3, U+fb01-fb02, U+fe10-fe19, U+fe30-fe33, U+fe35-fe44, U+fe47-fe48, U+ff01-ff5d,
		U+ffe0-ffe3, U+ffe5-ffe6, U+1f100, U+1f110-1f129;
}
@font-face {
	font-family: "NanumSquareNeo";
	src: url("NanumSquareNeo-dEb.woff2") format("woff2"), url("NanumSquareNeo-dEb.ttf") format("truetype");
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	unicode-range: U+20-7e, U+a2-a5, U+a9, U+ab-ac, U+ae, U+b0-b3, U+b6-b7, U+b9, U+bb-be, U+d7, U+e5, U+f7, U+2c7,
		U+2d0, U+2d8-2dd, U+2012-2016, U+2018-2019, U+201c-201d, U+2020-2023, U+2025-2026, U+2030, U+2032-2033,
		U+203b-203c, U+203e, U+2044, U+2047-2049, U+2070, U+2074-2079, U+207f-2089, U+20a9, U+20ac, U+2103, U+2109,
		U+2113, U+2116, U+2121-2122, U+2126, U+212b, U+2153-2154, U+215b-215e, U+2160-2169, U+2170-2179, U+2190-2199,
		U+21d2, U+21d4, U+2200, U+2202-2203, U+2207-2208, U+220b, U+220f, U+2211-2212, U+221a, U+221d-221e, U+2220,
		U+2225, U+2227-222c, U+222e, U+2234-2236, U+223c-223d, U+2252, U+2260-2261, U+2264-2267, U+226a-226b,
		U+2282-2283, U+2286-2287, U+2299, U+22a5, U+22ef, U+2312, U+2329-232a, U+2460-24f4, U+24ff-2503, U+250c-254b,
		U+2592, U+25a0-25a1, U+25a3-25a9, U+25b2-25b3, U+25b6-25b7, U+25bc-25bd, U+25c0-25c1, U+25c6-25c9, U+25cb,
		U+25ce-25d1, U+25e6, U+2605-2606, U+260e-260f, U+261c, U+261e, U+2640, U+2642, U+2660-2661, U+2663-2665,
		U+2667-266a, U+266c-266d, U+274c, U+2776-277f, U+2e3a-2e3b, U+3001-3003, U+300a-3011, U+3013-301c, U+3131-3163,
		U+3165-318e, U+3200-321e, U+3251-327f, U+32b1-32bf, U+3380-3384, U+3388-33ca, U+33cf-33d0, U+33d3, U+33d6,
		U+33d8, U+33db-33dd, U+ac00-d7a3, U+fb01-fb02, U+fe10-fe19, U+fe30-fe33, U+fe35-fe44, U+fe47-fe48, U+ff01-ff5d,
		U+ffe0-ffe3, U+ffe5-ffe6, U+1f100, U+1f110-1f129;
}
@font-face {
	font-family: "NanumSquareNeo";
	src: url("NanumSquareNeo-eHv.woff2") format("woff2"), url("NanumSquareNeo-eHv.ttf") format("truetype");
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	unicode-range: U+20-7e, U+a2-a5, U+a9, U+ab-ac, U+ae, U+b0-b3, U+b6-b7, U+b9, U+bb-be, U+d7, U+e5, U+f7, U+2c7,
		U+2d0, U+2d8-2dd, U+2012-2016, U+2018-2019, U+201c-201d, U+2020-2023, U+2025-2026, U+2030, U+2032-2033,
		U+203b-203c, U+203e, U+2044, U+2047-2049, U+2070, U+2074-2079, U+207f-2089, U+20a9, U+20ac, U+2103, U+2109,
		U+2113, U+2116, U+2121-2122, U+2126, U+212b, U+2153-2154, U+215b-215e, U+2160-2169, U+2170-2179, U+2190-2199,
		U+21d2, U+21d4, U+2200, U+2202-2203, U+2207-2208, U+220b, U+220f, U+2211-2212, U+221a, U+221d-221e, U+2220,
		U+2225, U+2227-222c, U+222e, U+2234-2236, U+223c-223d, U+2252, U+2260-2261, U+2264-2267, U+226a-226b,
		U+2282-2283, U+2286-2287, U+2299, U+22a5, U+22ef, U+2312, U+2329-232a, U+2460-24f4, U+24ff-2503, U+250c-254b,
		U+2592, U+25a0-25a1, U+25a3-25a9, U+25b2-25b3, U+25b6-25b7, U+25bc-25bd, U+25c0-25c1, U+25c6-25c9, U+25cb,
		U+25ce-25d1, U+25e6, U+2605-2606, U+260e-260f, U+261c, U+261e, U+2640, U+2642, U+2660-2661, U+2663-2665,
		U+2667-266a, U+266c-266d, U+274c, U+2776-277f, U+2e3a-2e3b, U+3001-3003, U+300a-3011, U+3013-301c, U+3131-3163,
		U+3165-318e, U+3200-321e, U+3251-327f, U+32b1-32bf, U+3380-3384, U+3388-33ca, U+33cf-33d0, U+33d3, U+33d6,
		U+33d8, U+33db-33dd, U+ac00-d7a3, U+fb01-fb02, U+fe10-fe19, U+fe30-fe33, U+fe35-fe44, U+fe47-fe48, U+ff01-ff5d,
		U+ffe0-ffe3, U+ffe5-ffe6, U+1f100, U+1f110-1f129;
}
