#Scene_Title {
	.BG,
	.Logo,
	.ButtonLayer {
		opacity: 0;
	}

	.BG > * {
		position: absolute;
	}

	.Logo {
		top: 40px;
		left: (1200px - 857px); // 1200px, anchor x = 1
	}
	.ButtonLayer {
		left: 50px;
		top: 240px;

		@for $i from 0 to 4 {
			> .Button:nth-child(#{$i + 1}) {
				top: (120px * $i);
			}
		}
	}

	.BlackScreen {
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;

		background-color: #000;
		opacity: 0;
		pointer-events: none;
		z-index: 90000;
	}

	&[data-phase*="title"] {
		.BG {
			transition: opacity 1s linear;
			opacity: 1;
		}
	}
	&[data-phase*="logo"] {
		.Logo {
			transition: opacity 1s linear;
			opacity: 1;
		}
		.ButtonLayer {
			transition: opacity 1s linear;
			opacity: 1;
		}
	}
	&[data-phase*="exit"] {
		.BlackScreen {
			transition: opacity 3s linear;
			opacity: 1;
		}
	}
}
