@font-face {
	font-family: "NanumMyeongjo";
	src: url("NanumMyeongjoR.woff2") format("woff2"), url("NanumMyeongjoR.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
	unicode-range: U+20-7e, U+81-82, U+84, U+a0-a1, U+a4, U+a7-ab, U+ad-ae, U+b0-b4, U+b6-bf, U+c6, U+d0, U+d7-d8,
		U+de-df, U+e6, U+f0, U+f7-f8, U+fe-ff, U+111, U+126-127, U+131-133, U+138, U+13f-142, U+149-14b, U+152-153,
		U+166-167, U+2bc, U+2c7, U+2d0, U+2d8-2dd, U+391-3a1, U+3a3-3a9, U+3b1-3c1, U+3c3-3c9, U+401, U+410-44f, U+451,
		U+2013-2016, U+2018-2019, U+201b-201d, U+201f-2022, U+2025-2026, U+2030, U+2032-2036, U+2039-203c, U+2042,
		U+2074, U+207a-207f, U+2081-2084, U+20a9, U+20ac, U+2103, U+2109, U+2113, U+2116, U+2121-2122, U+2126, U+212b,
		U+2153-2154, U+215b-215e, U+2160-2169, U+2170-2179, U+2190-2199, U+21b0-21b4, U+21bc, U+21c0, U+21c4-21c5,
		U+21cd, U+21cf-21d4, U+21e0-21e3, U+21e6-21e9, U+2200, U+2202-2203, U+2206-2209, U+220b-220c, U+220f, U+2211,
		U+2213, U+221a, U+221d-2220, U+2222, U+2225-222c, U+222e, U+2234-2235, U+2237, U+223c-223d, U+2243, U+2245,
		U+2248, U+2250-2253, U+225a, U+2260-2262, U+2264-2267, U+226a-226b, U+226e-2273, U+2276-2277, U+2279-227b,
		U+2280-2287, U+228a-228b, U+2295-2297, U+2299, U+22a3-22a5, U+22bb-22bc, U+22ce-22cf, U+22da-22db, U+22ee,
		U+2306, U+2312, U+2314, U+2460-2487, U+249c-24e9, U+2500-2503, U+250c-254b, U+2592, U+25a0-25a1, U+25a3-25a9,
		U+25b1-25b3, U+25b5-25b7, U+25b9, U+25bc-25bd, U+25bf-25c1, U+25c3, U+25c6-25cc, U+25ce-25d1, U+25e6, U+25ef,
		U+2605-2606, U+260e-260f, U+261c-261f, U+262f, U+2640, U+2642, U+2660-2661, U+2663-2665, U+2667-266a,
		U+266c-266d, U+266f, U+2716, U+271a, U+273d, U+2756, U+2776-277f, U+278a-2793, U+3000-3003, U+3008-3019,
		U+301e-3020, U+3036, U+3041-3093, U+30a1-30f6, U+3131-318e, U+3200-321c, U+3231, U+3239, U+3260-327b,
		U+327e-327f, U+328a-3290, U+3294, U+329e, U+32a5, U+3380-3384, U+3388-33cb, U+33cf-33d0, U+33d3, U+33d6, U+33d8,
		U+33db-33dd, U+ac00-d7a3, U+ff01-ff5e, U+ffe0-ffe3, U+ffe5-ffe6;
}

@font-face {
	font-family: "NanumMyeongjo";
	src: url("NanumMyeongjoB.woff2") format("woff2"), url("NanumMyeongjoB.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
	unicode-range: U+20-7e, U+81-82, U+84, U+a0-a1, U+a4, U+a7-ab, U+ad-ae, U+b0-b4, U+b6-bf, U+c6, U+d0, U+d7-d8,
		U+de-df, U+e6, U+f0, U+f7-f8, U+fe-ff, U+111, U+126-127, U+131-133, U+138, U+13f-142, U+149-14b, U+152-153,
		U+166-167, U+2bc, U+2c7, U+2d0, U+2d8-2dd, U+391-3a1, U+3a3-3a9, U+3b1-3c1, U+3c3-3c9, U+401, U+410-44f, U+451,
		U+2013-2016, U+2018-2019, U+201b-201d, U+201f-2022, U+2025-2026, U+2030, U+2032-2036, U+2039-203c, U+2042,
		U+2074, U+207a-207f, U+2081-2084, U+20a9, U+20ac, U+2103, U+2109, U+2113, U+2116, U+2121-2122, U+2126, U+212b,
		U+2153-2154, U+215b-215e, U+2160-2169, U+2170-2179, U+2190-2199, U+21b0-21b4, U+21bc, U+21c0, U+21c4-21c5,
		U+21cd, U+21cf-21d4, U+21e0-21e3, U+21e6-21e9, U+2200, U+2202-2203, U+2206-2209, U+220b-220c, U+220f, U+2211,
		U+2213, U+221a, U+221d-2220, U+2222, U+2225-222c, U+222e, U+2234-2235, U+2237, U+223c-223d, U+2243, U+2245,
		U+2248, U+2250-2253, U+225a, U+2260-2262, U+2264-2267, U+226a-226b, U+226e-2273, U+2276-2277, U+2279-227b,
		U+2280-2287, U+228a-228b, U+2295-2297, U+2299, U+22a3-22a5, U+22bb-22bc, U+22ce-22cf, U+22da-22db, U+22ee,
		U+2306, U+2312, U+2314, U+2460-2487, U+249c-24e9, U+2500-2503, U+250c-254b, U+2592, U+25a0-25a1, U+25a3-25a9,
		U+25b1-25b3, U+25b5-25b7, U+25b9, U+25bc-25bd, U+25bf-25c1, U+25c3, U+25c6-25cc, U+25ce-25d1, U+25e6, U+25ef,
		U+2605-2606, U+260e-260f, U+261c-261f, U+262f, U+2640, U+2642, U+2660-2661, U+2663-2665, U+2667-266a,
		U+266c-266d, U+266f, U+2716, U+271a, U+273d, U+2756, U+2776-277f, U+278a-2793, U+3000-3003, U+3008-3019,
		U+301e-3020, U+3036, U+3041-3093, U+30a1-30f6, U+3131-318e, U+3200-321c, U+3231, U+3239, U+3260-327b,
		U+327e-327f, U+328a-3290, U+3294, U+329e, U+32a5, U+3380-3384, U+3388-33cb, U+33cf-33d0, U+33d3, U+33d6, U+33d8,
		U+33db-33dd, U+ac00-d7a3, U+ff01-ff5e, U+ffe0-ffe3, U+ffe5-ffe6;
}
